<% items.forEach((item )=>{ %> 
    <form action="/" method="GET">
         
        <td>   <%= item.category %> </td>
            <br>
            <td>   <%= item.type %> </td>
            <br>
            <td>     <%= item.surface %></td>
            <br>
            <td>     <%= item.volume %></td>
            <br>
            <% item.evolutions.forEach((comment)=>{%>
                      <br>
                      <br>
                    <td>   <%= comment.auteur %> </td> 
                     <br>
                     <td>   <%= comment.date %> </td>
                     <br>
                     <td>   <%= comment.comments %> </td>
            <% } )%>
       
    </form>
   


    <% })%>